# These are the requirements for each VM instance

# There may be some overlap between the requirements for vmassign.app and vmassign.vm.local
# but it is imperative that the requirements for the VM instances (here) are kept independent

# Google Cloud SDK
google-cloud-logging
google-cloud-pubsub
google-cloud-spanner==3.42.0

# To find whether SLEAP process is running
psutil

# To run SLEAP process
sleap[pypi]==1.3.4
